:root{
    --main-c:#fdd72d;
    --border-r:.5rem;
  }
  
  /** Estilos Generales **/
  html *{
   margin: 0; 
   padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   scroll-behavior: smooth;
  }
  
  p{
    font-size: 1.1rem;
  }
  
  a{
    text-decoration: none;
  }
  
  ul, li{
    list-style: none;
  }
  
  .wrap-cta{
    padding: 1.5rem 0;
  }
  /* LLAMADO A LA ACCION */
  .cta-a{
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--main-c);
    padding: .5rem 1rem;
    border-radius: var(--border-r);
  }
  .cta-a:hover{
    color: #100707;
    font-weight: bold;
    background-color:#c9c5c5;
  }
  
  h1{
    font-size: 2.3rem;
  }
  
  h2 {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      color: #333;
      font-size: 2rem;
  }
    
  
  h3{
    font-size: 1.8rem;
  }
  
  /** Header **/
  .header-landing{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    padding: 0.5rem;
  }
  
  .logo-header{
    max-width: 200px;
    height: 120%;
    width: 200%;
  }
  
  /** Seccion del Banner **/
  .hero-section{
    max-height: 90vh;
    background-color: #9da19f;
    background-blend-mode:multiply;
    display: flex;
    align-items: center;
  }
  .wrap-hero-section{
    max-width: 50%;
    min-width: 20%;
    color: #fff;
    padding: 3%;
  }
  .banner{
    max-width: 50%;
    background-position:right;
    background-repeat: no-repeat;
    background-size:contain;
  }
  /** Logo Section **/ 
  .section h2{
    padding: 1rem 0;
  }
  
  .wrap-logos-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  
  /* LOGO NAVBAR */
  .logo-brand{
    width: 200px;
    padding: 1rem 2rem;
    filter: grayscale(1);
  }
  
  /** Titulo **/
  
  .wrap-title-section{
    display: flex;
    justify-content: center;
    margin: 3rem 1rem;
  }
  
  /** Testimonios **/
  
  .wrap-servicios-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .item-servicios-section{
    width: 500px;
    height: 325px;
    padding: 1rem;
  }

  video {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 10%;
  background-color: #f1f1f1;
  box-shadow: 4px 4px 40px 4px rgba(0, 0, 0, 0.3);
}

  /** Valores **/
  
  .wrap-two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .wrap-img_two-column{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  .wrap-img_two-column img{
    width: 400px; 
    height: 400px; 
    object-fit: cover;
  }
  
  .wrap-text-column h3{
    padding: 2rem 0;
  }
  
  .wrap-text-column p{
    padding-bottom: 1rem;
  }
  
  /** Google maps**/
  .container-google-maps {
    display: flex;
    align-items: center;
    margin: 2% 2%;
  }
  /* Estilos para la imagen */
  .image-maps {
    width: 680px;
    height: auto;
    border-radius: 10%;
    box-shadow: 0px 10px 30px 4px rgba(68, 68, 68, 0.705) ;
  }
  .info {
    margin-left: 20px;
    margin: 2%;
  }
span a {
  content: "https://www.google.com/maps?q=Av.%201%20de%20mayo%20%2337a%20-%2031"; 
  cursor: pointer;
  color: #0A58CA;
  text-decoration: none;
}

span a:hover {
  color: red;
}

@media screen and (max-width: 768px) {
  .container-google-maps {
    flex-direction: column;
    text-align: center;
  }
  .image-maps {
    width: 30%;
  }
  .info {
    margin-left: 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 927px) {
  .image-maps {
    width: 80%;
    max-width: 680px;
  }
}

  /** Footer **/
  .footer-section{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .menu-footer-section{
    padding: 1rem 0;
  }
  
  .wrap-social-logos ul, .wrap-menu-footer-section ul{
    display: flex;
    justify-content: center;
  }
  
  .social-logo{
    max-width: 75px;
    width: 100%;
    padding: 1rem;
  }
  
  .wrap-menu-footer-section ul li{
    font-size: 1.1rem;
    padding: 1.5rem;
  }
  
  /* ESTILO FOOTER */
  .footer-creds{
    display: flex;
    justify-content: center;
  }

  .small-text{
    font-size: small;
    color: #999999;
  }

  .styled-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .styled-list li {
    margin-bottom: 10px;
  }
  
  .styled-list li a {
    text-decoration: none;
    color: #999999;
    font-size: small;
    position: relative;
    transition: color 0.3s;
  }
  
  .styled-list li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #999999;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .styled-list li a:hover {
    color: #000000;
  }
  
  .styled-list li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  

 /* BOTON WHATSAPP */
  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom: 15px;
      right: 16px;
    background-color:#4cc370;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }
  .float:hover {
    text-decoration: none;
    color: #fff;
    background-color:#3d9e5a;
  }
  
  .my-float{
    margin-top:16px;
  }

  @import url("https://fonts.googleapis.com/css?family=Roboto");
@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.45);
    opacity: 0;
  }
}
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  width: auto;
  height: auto;
  position: fixed;
  z-index: 8;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  margin: 0px;
}
@media (max-width: 360px) {
  .nav-bottom {
    width: 320px;
  }
}

.whatsapp-button {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  z-index: 8;
  transition: .3s;
  margin: 10px;
  padding: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
}

.circle-anime {
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  transition: .3s;
  background-color: #77bb4a;
  animation: pulse 1.2s 4.0s ease 4;
}

.popup-whatsapp {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  height: auto;
  padding: 10px;
  bottom: 85px;
  right: 6px;
  transition: .5s;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  animation: slideInRight .6s 0.0s both;
}
.popup-whatsapp > div {
  margin: 5px;
}
@media (max-width: 680px) {
  .popup-whatsapp p {
    font-size: 0.9em;
  }
}
.popup-whatsapp > .content-whatsapp.-top {
  display: flex;
  flex-direction: column;
}
.popup-whatsapp > .content-whatsapp.-top p {
  color: #585858;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.0em;
}
.popup-whatsapp > .content-whatsapp.-bottom {
  display: flex;
  flex-direction: row;
}

.closePopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin: 0px 0px 15px 0px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4cc370;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
}
.closePopup:hover {
  background-color: #3d9e5a;
  transition: .3s;
}

.send-msPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0px 0px 0px 5px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
}
.send-msPopup:hover {
  background-color: #f8f8f8;
  transition: .3s;
}

.is-active-whatsapp-popup {
  display: flex;
  animation: slideInRight .6s 0.0s both;
  background-color: #fafafa;
}

input.whats-input[type=text] {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 0px solid #ffffff;
  border-radius: 20px;
  font-size: 1em;
  background-color: #ffffff;
  padding: 0px 0px 0px 10px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  outline: none;
  transition: .3s;
}
@media (max-width: 420px) {
  input.whats-input[type=text] {
    width: 225px;
  }
}
input.whats-input::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(68, 68, 68, 0.705);
  opacity: 1;
}
input.whats-input[type=text]:focus {
  background-color: #f8f8f8;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  transition: .3s;
}

.icon-whatsapp-small {
  width: 24px;
  height: 24px;
}

.icon-whatsapp {
  width: 45px;
  height: 45px;
}

.icon-font-color {
  color: #ffffff;
}

.icon-font-color--black {
  color: #333333;
}

 /* Custom styles for the cards */
.carta{
  padding-top: 40px;
}

.card-img-top {
  max-width: 150px;
  margin: 0 auto;
}
.card-text {
  padding: 15px;
}

/*Acordeon*/
.acordeon{
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 0px 30px 0px;
}
.card-acordeon{
  width: 70rem;
}
.accordion-button{
  font-weight: bolder;
}
.accordion-button:hover{
  background-color: var(--main-c);
}

/* Consulta de medios para pantallas más pequeñas */
@media (max-width: 200px) {
  .wrap-hero-section {
    padding: 5%;
    max-width: 100%;
    text-align: center;
    margin: 0% 2%;
  }
  .banner {
    max-width: 300%;
    background-position: center; 
  }
}
/* Consulta de medios para pantallas más pequeñas aún */
@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 0.8rem;
  }
  h3 {
    font-size: 0.6rem;
  }
  .wrap-hero-section {
    padding: 0%;
  }
  .cta-a {
    font-size: 0.9rem;
  }
}

/* Consulta de medios para pantallas pequeñas */
@media (max-width: 992px) {
  .item-servicios-section {
    width: 100%;
  }
}

/* Consulta de medios para pantallas pequeñas */
@media (max-width: 768px) {
  .item-servicios-section {
    width: 100%;
  }
}

/* Consulta de medios para pantallas muy pequeñas */
@media (max-width: 576px) {
  .wrap-cta {
    padding: 1rem 0;
  }
}

/* Consulta de medios para pantallas pequeñas */
@media (max-width: 768px) {
  .wrap-two-column {
    grid-template-columns: 1fr;
  }
  .wrap-img_two-column img {
    width: 100%;
    height: auto;
  }
}

/* Consulta de medios para pantallas muy pequeñas */
@media (max-width: 576px) {
  .wrap-title-section {
    margin: 0.8rem 0;
  }
}
@media (max-width: 576px) {
  .banner {
    max-width: 55%; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
  }
}
/* Footer styles for screens smaller than 576px (e.g., mobile devices) */
@media (max-width: 576px) {
  .footer-section {
    text-align: center;
    padding: 20px;
  }

  .wrap-social-logos {
    margin-bottom: 20px;
  }

  .wrap-social-logos ul {
    display: flex;
    justify-content: center;
  }

  .wrap-social-logos li {
    margin: 0 10px;
  }

  .menu-footer-section {
    margin-top: 20px;
  }

  .menu-footer-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu-footer-section li {
    margin: 0 10px;
  }

  .footer-creds {
    font-size: 0.8rem;
  }
}

/* Footer styles for screens between 576px and 768px (e.g., small tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  .footer-section {
    text-align: center;
  }

  .wrap-social-logos {
    margin-bottom: 20px;
  }

  .wrap-social-logos ul {
    display: flex;
    justify-content: center;
  }

  .wrap-social-logos li {
    margin: 0 15px;
  }

  .menu-footer-section ul {
    display: flex;
    justify-content: center;
  }

  .menu-footer-section li {
    margin: 0 15px;
  }

  .footer-creds {
    font-size: 0.9rem;
  }
}
